<h4> Workouts: </h4>
<p>Exercise: <%= @workout.exercise %></p>
<p>Weight: <%= @workout.weight %></p>
<p>Sets: <%= @workout.sets %></p>

<form method="post" action="/workouts/<%=@workout.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Workout">
</form>

<a href="/workouts/<%=@workout.id%>/edit">Edit Workout </a>
<br>
<a href="/workouts">See Workouts </a>
