
<p>Exercise: <%= @exercise.exercise %></p>
<p>Weight: <%= @exercise.weight %></p>
<p>Sets: <%= @exercise.sets %></p>
<p>workout_id: <%= @exercise.workout_id %></p>

<form method="post" action="/exercises/<%=@exercise.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Workout">
</form>

<a href="/exercises/<%=@exercise.id%>/edit">Edit Exercise </a>
<br>
<a href="/exercises">See Exercise </a>
